@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 15px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar .logo {
    color: #d6a04a;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Syncopate", sans-serif;
    margin-top: 30px;
    margin-left: 300px;
}

.special_offers{
    background-image: url('../img/background-con.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0.4, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.special_offers h2{
    font-family: "Syncopate", sans-serif;
    font-size: 49px;
    color: #d6a04a;
    text-align: center;
    margin-top: 100px;
}

.special_offers p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: white;
    max-width: 1000px;
    text-align: center;
}

.heading{
    margin-top: 10px;
}

.heading span{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color: #d6a04a;
}

.heading h2{
    font-family: "Syncopate", sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-top: 15px;
}

.heading p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

.offers {
    text-align: center;
    margin: 2rem auto;
    max-width: 1200px;
}

.cars_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 30px;
    justify-content: center;
}

.car_box {
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.car_box img {
    width: 95%;
    height: 180px;
    margin-bottom: 17px;
}
.car_box h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left; 
    width: 100%; 
    padding-left: 10px; 
    font-family: "Poppins", sans-serif;
}

.car_box span {
    font-size: 17px;
    font-weight: bold;
    color: #d6a04a;
    text-align: left; 
    width: 100%; 
    padding-left: 10px; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

.car_box .button_container {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 97%;
    margin-top: 10px;
}

.car_box .button, .car_box .details {
    flex: 1;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    width: 40%;
}

.car_box .button {
    background: #d6a04a;
    color: white;
    font-family: "Poppins", sans-serif;
}

.car_box .button:hover {
    background: #b8860b;
}

.car_box .details {
    padding-top: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.car_box .details:hover {
    background: black;
    color: white;
}

.footer {
    background-color: #111;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #333;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Syncopate", sans-serif;
    color: white;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
    margin-left: -30px;
}

.footer-col ul li a {
    font-family: "Poppins", sans-serif;
    color: silver;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    opacity: 1;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 18px;
    opacity: 0.8;
    transition: 0.3s;
}

.social-icons a:hover {
    opacity: 1;
}

.copyright {
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-top: 1px solid #333;
    font-family: "Poppins", sans-serif;
    color: silver;
    font-size: 13px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.modal.show {
    display: flex !important;
    opacity: 1;
}


.modal-content {
    background-color: white;
    padding: 22px;
    border-radius: 10px;
    width: 50%;
    max-width: 520px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content h2{
    font-family: "Poppins", sans-serif;
}

.modal-content p{
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.close:hover {
    color: #b8860b;
}

#modal-image {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

@media (max-width: 1024px) {
    .cars_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }

    .special_offers h2 {
        font-size: 33px;
        margin-top: 30px;
        text-align: center;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
    }

    .special_offers h2 br {
        display: none; 
    }

    .special_offers p {
        font-size: 17px;
        line-height: 1.5;
        max-width: 85%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .special_offers nav{
        display: none;
    }

    .car_box h3, .car_box span {
        font-size: 17px;
        padding-left: 10px;
    }

    .car_box .button, .car_box .details {
        font-size: 13px;
        padding: 9px 14px;
        margin-left: 10px;
    }

    .car_box img {
        height: 250px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 5%;
    }

    .footer-col {
        margin-bottom: 20px;
    }

    .social-icons a {
        margin-left: 15px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

}

@media (max-width: 768px) {
    
    .special_offers h2 {
        font-size: 28px;
        margin-top: 30px;
        text-align: center;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
    }

    .special_offers h2 br {
        display: none; 
    }

    .special_offers p {
        font-size: 14px;
        line-height: 1.5;
        max-width: 85%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .special_offers nav{
        display: none;
    }

    .cars_container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0 20px;
    }

    .car_box {
        padding: 50px;
    }

    .car_box img {
        height: 300px;
    }

    .car_box h3, .car_box span {
        margin-left: 8px;
        font-size: 17px;
        padding-left: 17px;
    }

    .car_box .button, .car_box .details {
        font-size: 13px;
        padding: 9px 14px;
        margin-left: 15px;
    }

    .footer {
        padding: 15px 15%;
    }

    .footer-col h3 {
        font-size: 14px;
    }

    .footer-col ul li a {
        font-size: 12px;
    }

    .social-icons a {
        margin-left: 20px;
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .copyright {
        font-size: 12px;
        padding: 12px;
    }
}



@media (max-width: 480px) {
    .special_offers h2 {
        font-size: 26px;
    }

    .special_offers p {
        font-size: 14px;
        line-height: 1.5;
        max-width: 300px;
        margin: 0 auto;
    }

    .cars_container {
        gap: 1rem;
    }

    .car_box img {
        height: 140px;
    }

    .car_box h3, .car_box span {
        font-size: 14px;
        padding-left: 5px;
    }

    .car_box .button, .car_box .details {
        font-size: 13px;
        padding: 7px 10px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .footer {
        padding: 15px 5%;
    }

    .footer-col h3 {
        font-size: 15px;
    }

    .footer-col ul li a {
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .navbar {
        display: none !important; 
    }

    .special_offers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px 15px; 
        text-align: center;
    }

    .special_offers h2 {
        font-size: 22px;
        margin-top: 10px;
        text-align: center;
        line-height: 1.2;
    }

    .special_offers p {
        font-size: 12px;
        line-height: 1.4;
        padding: 0 10px;
        max-width: 320px;
        text-align: center;
    }

    .cars_container {
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .car_box h3, .car_box span {
        font-size: 12px;
        padding-left: 5px;
    }

    .car_box .button, .car_box .details {
        font-size: 10px;
        padding: 3px 5px;
    }

    .footer {
        padding: 10px 5%;
    }

    .footer-col h3 {
        font-size: 13px;
    }

    .footer-col ul li a {
        font-size: 11px;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .copyright {
        font-size: 10px;
        padding: 10px;
    }
}

